#preloader{
    background: #aaa9a9 url('/static/image/loader.gif') no-repeat center center;
    background-size: 400px;
    background-position-y: 80px;
    left: 0;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}


body{
    background: linear-gradient(rgba(58, 58, 58, 0.7),rgba(43, 42, 42, 0.7)), url('/static/image/linear.jpg');
    background-size: cover;
    min-height: 96vh;
    /* background-color: #0276b4; */
}

.box{
    background-image: url('/static/image/opacity.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 70px 80px;
    display: inline-block;
    border-radius: 10px;
    width: 290px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#cari{
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

#title .kliksin{
    width: 25%;
    margin-left: 41.5%;
    margin-top: -20px;
    padding-bottom: 100px;
}

#title .wlcome{
    margin-left: 29%;
    margin-top: -20%;
}


.tanggal{
    color: white;
}

#lokasi{
    color: white;
}

#kondisi{
    color: white;
}

#app{
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
}


.cuaca{
    margin-top: 10px;
    margin-bottom: 40px;
}
.cuaca img{
    margin-top: -20px;
    width: 80px;
    background-color: blanchedalmond;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: aliceblue;
    border-radius: 10px;
}

.celci{
    display: inline;
    margin: 0;
    margin-right: 20px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: aliceblue;
    border-radius: 10px;
}
.faren {
    display: inline;
    margin: 0;
    margin-left: 20px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: aliceblue;
    border-radius: 10px;
}

.form {
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.form input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

.form input.expanded {
    width: 400px;
}

.form .btn-search {
    font-size: 18px;
}



#container {
    margin-top: 20px;
}

.output-container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.output-container.show {
    opacity: 1;
    transform: translateY(0);
}



/* wave */
section .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('/static/image/wave.png');
    background-size: 1000px 100px; 
    z-index: 100;
    margin-bottom: 20px;
}
/* wave 1 */
section .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
/* wave2 */
section .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

/* wave3 */
section .wave.wave3{
    animation: animate 15s linear infinite;
    z-index: 988;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}

/* wave4 */
section .wave.wave4{
    animation: animate2 15s linear infinite;
    z-index: 997;
    opacity: 1;
    animation-delay: -5s;
    bottom: -20px;
}



@keyframes animate{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}
@keyframes animate2{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px;
    }
}

/* wave3 */
section .wave.wave3{
    animation: animate3 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 0;
}


@media screen and (max-width: 768px) {
    .box {
        width: 100%; 
        width: 200px;
        padding: 60px 80px;
    }
    
    .form input.expanded {
        width: 300px;
    }
    

    .cuaca img {
        width: 60px;
    }
    
    .celci, .faren {
        font-size: 20px;
    }
    
    #title .kliksin{
    width: 40%;
    margin-left: 36.5%;
    margin-top: -20px;
    padding-bottom: 100px;
    }

    #title .wlcome{
    width: 80%;
    margin-left: 10%;
    margin-top: -20%;
    }
}

@media screen and (max-width: 600px) {
    .box {
        width: 100%; 
        width: 200px;
        padding: 40px 20px;
    }

    /* custom search size */
    .form input.expanded {
        width: 250px;
    }

    #lokasi{
        margin-top: 50px;
    }
    
    .cuaca img {
        width: 60px;
    }
    
    .celci, .faren {
        font-size: 16px;
    }
    #title .kliksin{
        width: 250px;
        padding-bottom: 20px;
        margin-left: 88px;
    }
    
        #title .wlcome{
        width: 80%;
        margin-left: 12%;
        margin-top: -10%;
        }
}